
.main-container{
    display: flex;
    margin: 0 auto;
    width: 820px;
}
@media (max-width: 800px){

    .main-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
  
  }

a{
    gap: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
a:hover {
    color: rgb(112, 111, 113);
}